<div *ngFor="let entry of entries" class="row panel-title">
<app-display-reference [entry]="entry"></app-display-reference>
<!-- 
  <myTags:displayReference entry="${entry}" index="${status.index}"/>
  <myTags:displayText entry="${entry}" />
  <c:if test="${entry.pathPart}"><myTags:recurse entries="${entry.entries}" /></c:if>
<div *ngIf="entry.pathPart"><app-recurse [entries]="entry.entries"></app-recurse></div>
 -->
<div *ngIf="entry.pathPart"><app-recurse [entries]="entry.entries"></app-recurse></div>
</div>