<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<title>Guided Code Search</title>
  </head>
<body>
<div *ngIf="dataAvailable">
<div class="container">
<app-navigation viewmodel="viewmodel"></app-navigation>
<ol class="breadcrumb">
<li><a href="/" data-toggle="tooltip" data-placement="bottom" title="Home">Home</a></li><app-breadcrumb [entries]="viewmodel.entries"></app-breadcrumb>
<div *ngIf="viewmodel.term">
<li><span class="badge pull-right">{{viewmodel.totalCount}}</span></li>
</div>
</ol>
<div class="container-fluid">
<div class="panel-group" id="accordion">
<div class="panel">
<app-recurse [entries]="viewmodel.entries"></app-recurse>
</div>
</div>
</div>
</div>
</div>
</body>
</html>