p.Centered {
	text-align: center 
}
p.Normal {
}
p.Center8Point, tr.Center8Point {
	text-align:center;
	font-size:8pt; 
}
p.Center10Point, tr.Center10Point {
	text-align:center;
	font-size:10pt; 
}
p.Justify9Point, td.Justify9Point {
	text-align:justify;
	font-size:9pt; 
}
p.Justify10Point {
	text-align:justify;
	font-size:10pt; 
}
p.Left10Point, td.Left10Point {
	text-align:left;
	font-size:10pt; 
}
p.Right10Point, td.Right10Point {
	text-align:right;
	font-size:10pt; 
}
p.HeaderRight {
	text-align:right;
	font-weight: bold;
}
p.HeaderCentered {
	text-align:center;
	font-weight: bold;
}
p.HeaderLeft {
	text-align:left;
	font-weight: bold;
}
p.HeaderJustify {
	text-align:justify;
	font-weight: bold;
}
p.HangingIndent, tr.HangingIndent, td.HangingIndent {
  padding-left: 22px ;
  text-indent: -22px ;
}
p.HangingIndent1, tr.HangingIndent1, td.HangingIndent1 {
  padding-left: 22px ;
  text-indent: -22px ;
}
p.HangingIndent2, tr.HangingIndent2, td.HangingIndent2 {
  padding-left: 22px ;
  text-indent: -44px ;
}
p.HangingIndent3, tr.HangingIndent3, td.HangingIndent3 {
  padding-left: 22px ;
  text-indent: -66px ;
}
p.HangingIndent4, tr.HangingIndent4, td.HangingIndent4 {
  padding-left: 22px ;
  text-indent: -88px ;
}
p.HangingIndent5, tr.HangingIndent5, td.HangingIndent5 {
  padding-left: 22px ;
  text-indent: -110px ;
}